<h1>プロフィール</h1>
<br>
<table>
    <tr>
        <th style="text-align: right;">名前：</th>
        <td><%= @user.name %></td>
    </tr>
    <tr>
        <th style="text-align: right;">年齢：</th>
        <td><%= @user.age %></td>
    </tr>
    <tr>
        <th style="text-align: right;">メールアドレス：</th>
        <td><%= @user.email %></td>
    </tr>
</table>