<h1>プロフィール</h1>
<br>

<div>
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar %>
  <% end %>
</div>

<table>
    <tr>
        <th style="text-align: right;">名前：</th>
        <td><%= @user.name %></td>
    </tr>
    <tr>
        <th style="text-align: right;">年齢：</th>
        <td><%= @user.age %></td>
    </tr>
    <tr>
        <th style="text-align: right;">メールアドレス：</th>
        <td><%= @user.email %></td>
    </tr>
</table>